<div class="location-search-container">
  <div class="location-search">
    <div class="location-search-inner">
      <div class="upper-container">
        <div class="divider"></div>
        <app-activity-type></app-activity-type>
      </div>
      <div class="lower-container">
        <div class="lower-container-item">
          <app-destination></app-destination>
        </div>
        <div class="lower-container-item">
          <app-date></app-date>
        </div>
        <div class="lower-container-item lower-container-last-item">
          <app-travelers></app-travelers>
        </div>
        <div class="search-button-container">
          <a class="button search-button"></a>
        </div>
      </div>
    </div>
  </div>
</div>
