<div
  class="destination-component"
  [ngClass]="showPicker ? 'active' : ''"
  (clickOutside)="onClickedOutside()"
>
  <app-destination-picker
    [@bounceAnimation]
    *ngIf="showPicker && filteredCities.length > 0"
    [filteredCities]="filteredCities"
    (citySelected)="selectCity($event)"
  >
  </app-destination-picker>

  <div class="upper-container">
    <span class="icon"></span>
    <span class="title">Destination</span>
  </div>
  <div class="lower-container">
    <span class="icon" [ngClass]="{ active: isLocationSelected }"></span>
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="{{ this.placeholderText }}"
      (blur)="restorePlaceholder()"
      (focus)="clearPlaceholder()"
      (click)="onShowPicker()"
    />
  </div>
</div>
