<div
  class="travelers-component"
  [ngClass]="showPicker ? 'active' : ''"
  (clickOutside)="onClickedOutside()"
  (click)="onShowPicker()"
>
  <app-traveler-picker
    [@bounceAnimation]
    *ngIf="showPicker"
    (closePicker)="onClickedOutside()"
    (travelerAmount)="onTravelerNumberReceived($event)"
  >
  </app-traveler-picker>

  <div class="upper-container">
    <span class="icon"></span>
    <span class="title">Travelers</span>
  </div>
  <div class="lower-container">
    <span class="icon"></span>
    <span class="description"> {{ this.descriptionText }} </span>
  </div>
</div>
