<div
  class="date-component"
  (click)="onShowPicker()"
  (clickOutside)="onClickedOutside()"
>
  <app-date-picker
    *ngIf="showPicker"
    [@bounceAnimation]
    (dateSelection)="onDateSelection($event)"
    (closePicker)="onClickedOutside()"
  ></app-date-picker>
  <div class="date-component-section checkin">
    <div class="upper-container upper-container-1">
      <span class="icon"></span>
      <span class="title">Check in</span>
    </div>
    <div class="lower-container lower-container-1">
      <span class="icon"></span>
      <span class="description"> {{ checkInDateSelectedText }} </span>
    </div>
  </div>
  <div class="date-component-section">
    <div class="upper-container upper-container-2">
      <span class="icon"></span>
      <span class="title">Check out</span>
    </div>
    <div class="lower-container lower-container-2">
      <span class="icon"></span>
      <span class="description"> {{ checkOutDateSelectedText }}</span>
    </div>
  </div>
</div>
