<div class="date-component">
  <app-date-picker></app-date-picker>
  <div class="date-component-section">
    <div class="upper-container upper-container-1">
      <span class="icon"></span>
      <span class="title">Check in</span>
    </div>
    <div class="lower-container lower-container-1">
      <span class="icon"></span>
      <input type="text" placeholder="Add a date" />
    </div>
  </div>
  <div class="date-component-section">
    <div class="upper-container upper-container-1">
      <span class="icon"></span>
      <span class="title">Check out</span>
    </div>
    <div class="lower-container lower-container-1">
      <span class="icon"></span>
      <input type="text" placeholder="Add a date" />
    </div>
  </div>
</div>
