body {
  // background-image: url(../src/assets/img/datepickervoorbeeld.png);
  background-size: 1150px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #eeecea;
  font-family: "Cereal", sans-serif;
  font-weight: 500;
  font-size: normal;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

a.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 700;
  background-color: #2a7bd8;
  max-width: fit-content;

  span {
    font-size: 1.3em;
  }
}

.slider-main-image {
  height: 100%;
  width: 100%;

  ul.slick-dots {
    bottom: 140px !important;

    li.slick-active button::before {
      color: #fff;
      opacity: 1;
    }

    button {
      &::before {
        opacity: 0.6;
      }
    }
  }

  .slick-dots li button:before {
    color: #fff !important;
  }
}

.slider-next-image-container {
  border-radius: 20px;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  width: 25%;
  height: 25%;
  right: 12%;
  bottom: 22%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .slider-next-image {
    button.slick-prev.slick-arrow {
      display: none !important;
    }

    button.slick-next.slick-arrow {
      display: none !important;
    }

    .slick-dots {
      display: none !important;
    }
  }
}

.slider-main-title,
.slider-next-title,
.slider-lower-location {
  ul.slick-dots {
    display: none !important;
  }

  button.slick-prev.slick-arrow,
  button.slick-next.slick-arrow {
    display: none !important;
  }
}

ngb-datepicker {
  width: 100%;

  .ngb-datepicker-navigation-select > .form-select {
    border-radius: 10px !important;
    border: 2px solid #0275d8 !important;
  }

  .ngb-dp-arrow-btn {
    margin: 62px 0 0 0;
  }

  .ngb-dp-header {
    margin: 20px 0;
  }

  .ngb-dp-months {
    font-size: 1.2em;
    color: #969ba4;
    display: flex;
    justify-content: space-evenly;

    .ngb-datepicker-month {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ngb-dp-month-name {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      font-size: 1.5em !important;
      padding-left: 5px !important;
      color: #2e3339 !important;
    }

    .ngb-dp-week {
      padding: 0 !important;

      .ngb-dp-weekday {
        width: 36px;
        height: 36px;
        margin-right: 0;
      }

      .ngb-dp-day {
        width: 2.3rem;
        height: 2.3rem;
        .custom-day {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          height: 30px;
          width: 30px;
          color: #2e3339;

          &.range {
            color: #fff;

            &.faded {
              color: #2e3339;
            }
          }

          &.faded {
            background-color: #d9e8f8;
          }
        }
      }
    }
  }
}
